.search {
  display: flex;
  margin: 30px auto 10px;
  justify-content: center;
  gap: 20px;

  .input {
    width: 60%;
    font-size: 20px;
  }
}

.button {
  font-size: 20px;
}

.card-list {
  padding: 20px;
  width: 100%;
  max-width: 100%;

  th,
  td {
    min-width: 100px;
  }
}

.results {
  position: relative;
}

.meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: blue;
  animation: progressBar 3s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
